<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ml_playground">
    <!--        Este manifest se deja casi vacío a propósito
    para que no entre en conflicto con el manifest
    del módulo 'feature-camerax-hello' durante la fusión.
    -->
</manifest>